<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PAGAMENTO EFETUADO COM SUCESSO</title>
  </head>
  <body>
      Pagamento efetuado com sucesso pelo assinante
      <table>
        <tr>
          <li>Nome</li>
          <li>Email</li>
        </tr>
        <tr>
          <li><%= user.name %></li>
          <li><%= user.email %></li>
        </tr>
      </table>


  </body>
</html>
