<div class="container">
  <div class="row jumbotron">
    <div class="col-xs-12 ">
      <h1 class="text-center">Meu perfil</h1>

      <div class="col-lg-8 col-xs-12 col-centered">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Meu plano</a></li>
          <li><a href="#user_data" data-toggle="tab">Meus dados</a></li>
          <li><a href="#settings" data-toggle="tab">Messages</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="tab-pane fade" id="user_data">
            <%= render 'users/profile_contents/user_data', user: current_user %>
          </div>
          <div class="tab-pane fade" id="settings">
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :head do %>
  <%= javascript_include_tag 'masks' %>
  <%= javascript_include_tag 'users/registration' %>
<% end %>

