/*
=====================================================================
*   Studio 89 v1.0 Layout Stylesheet
*   03-12-2013
=====================================================================

   TOC:
   a. Common Styles
   b. Header Styles
   c. Intro Section
   d. About
   e. Artademic Programming
   f. Our Menu
   g. Projects
   h. Calendar
   i. Map/Contact
   j. Footer Styles
   k. Media Queries
   l. Donation Campaign + Thermometer
   m. Gallery

===================================================================== */


/* ================================================================== */

/* a. Common Styles

/* ================================================================== */

.section-head h2 {
	font: 30px/42px montserrat-bold, sans-serif;
}
.desc {
	font: 14px/24px opensans-regular, sans-serif;
}
.intro {
	font: 20px/36px opensans-light, sans-serif;
}
/* Left clearing for flexible columns - columns that changes width in
different screen sizes. Makes columns with different heights align
properly.
--------------------------------------------------------------------- */
.first {
	clear: left;
}   /* first column in default screen */
.m-first {
	clear: none;
} /* first column in medium size screens */
/* ================================================================== */

/* b. Header Styles

/* ================================================================== */

header {
	height: 54px;
	width: 100%;
	z-index: 99999;
	background: url(../images/k-opacity-70.png);
	position: fixed;
	top: 0;
	left: 0;
}
header.static {
	background: #232629;
	position: static;
}
/* header logo */
header .logo {
	position: relative;
	height: 87px;
	width: 250px;
	float: left;
}
header .logo a {
	display: block;
	padding: 0;
	margin: 0;
	height: 18px;
	width: 91px;
	line-height: 15px;
	position: absolute;
	left: 60px;
	top: 5px;
}
/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
/* nav-wrap */
#nav-wrap {
	position: relative;
	font: 13px opensans-regular, sans-serif;
	float: left;
}
/* hide toggle button */
#nav-wrap > a {
	display: none;
}
ul#nav {
	min-height: 54px;
	width: auto;
	/* left align the menu */
	text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
	height: 54px;
	display: inline-block;
}
ul#nav > li.active a {
	background: #743f0b;
	color: #fff !important;
}
/* Links */
ul#nav li a {
	display: block;
	padding: 0 14px;
	line-height: 54px;
	text-decoration: none;
	text-align: left;
	color: #fff;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
ul#nav li a:active {
	background-color: transparent !important;
}
ul#nav li:hover > a, ul#nav li.active a {
	color: #de6015;
}
/* ================================================================== */

/* Popup Description*/

/* ================================================================== */

span.dropt {
	border-bottom: thin dotted;
}
/*span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {left: 2%; background: #ffffff;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} */


span.dropt2 {
	border-bottom: thin dotted;
}
/*span.dropt2:hover {text-decoration: none; background: #4E565F; z-index: 6; }
span.dropt2 span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt2:hover span {left: 2%; background: #4E565F;} 
span.dropt2 span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt2:hover span {margin: 20px 0 0 170px; background: #4E565F; z-index:6;} */


/* ================================================================== */

/* Section Divider*/

/* ================================================================== */

.divider {
	background: #1b1e21 url(../images/divider.png);
	position: relative;
	background-repeat: repeat-x;
	height: 120px;
}
/* ================================================================== */

/* c. Intro Section

/* ================================================================== */



.intrologo {
	position: relative;
	top: 80px;
	left: -5px;
	width: 1000px;
}
/* SOCIAL ICONS - GENERAL */
.social-1 {
	list-style: none;
	margin: 30px auto;
	width: 464px;
	position: relative;
	top: 65px;
	right: -350px;
}
.social-1 li {
	display: inline;
	float: left;
	background-repeat: no-repeat;
	padding: 5px;
}
.social-1 li a {
	display: block;
	width: 48px;
	height: 48px;
	padding-right: 10px;
	position: relative;
	text-decoration: none;
}
.social-1 li a strong {
	font-weight: normal;
	position: absolute;
	left: 20px;
	top: -1px;
	color: #fff;
	padding: 3px;
	z-index: 9999;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
li.facebook {
	background-image: url("../images/facebook.png");
}
li.twitter {
	background-image: url("../images/twitter.png");
}
li.youtube {
	background-image: url("../images/youtube.png");
}
li.tumblr {
	background-image: url("../images/tumblr.png");
}
li.email {
	background-image: url("../images/email.png");
}
li.donate {
	background-image: url("../images/donate.png");
}
/* SOCIAL ICONS - CSS3 */
#css3:hover li {
	opacity: 0.2;
}
#css3 li {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-moz-transition-property: opacity;
	-moz-transition-duration: 500ms;
}
#css3 li a strong {
	opacity: 0;
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: 300ms;
	-moz-transition-property: opacity, top;
	-moz-transition-duration: 300ms;
}
#css3 li:hover {
	opacity: 1;
}
#css3 li:hover a strong {
	opacity: 1;
	top: -10px;
}
/* ================================================================== */

/* d. About

/* ================================================================== */

#about {
	background: #fff url(../images/patterns/grey.png);
	padding-top: 100px;
	padding-bottom: 80px;
	color: #A3A3A3;
}
#about .section-head h2 {
	color: #9d6419;
}
#about h4, #about h5 {
	color: #743f0b;
}
#about .section-head p.desc {
	color: #000000;
}
#about .section-head .intro {
	color: #000000;
}
#about h3 {
	font: 24px/30px montserrat-regular, sans-serif;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #6E6E6E;
}
/* ================================================================== */

/* e. Artadamic Programming

/* ================================================================== */

#art {
	background: #1b1e21 url(../images/patterns/servicesbg.png);
	padding-top: 100px;
	padding-bottom: 80px;
	color: #4E565F;
}
#art .section-head h2 {
	color: #9d6419;
}
#art h4, #about h5 {
	color: #743f0b;
}
#art .section-head p.desc {
	color: #fff;
}
#art .section-head .intro {
	color: #fff;
}
#art h3 {
	font: 24px/30px montserrat-regular, sans-serif;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #6E6E6E;
}
a.other:hover {
	color: white;
}
/* Reveal Modal 2 Plugin Styles
---------------------------------------------------*/
.reveal-modal-bg2 {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}
.reveal-modal2 {
	visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	max-width: 600px;
	background: #fff;
	position: absolute;
	z-index: 101;
	padding: 0;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.reveal-modal2 .description-box {
	padding: 18px 36px;
}
.reveal-modal2 .description-box h4 {
	font: 15px/24px montserrat-bold, sans-serif;
	margin-bottom: 18px;
	color: #A3A3A3;
}
.reveal-modal2 .description-box p {
	font: 15px/24px opensans-regular, sans-serif;
	color: #000000;
	margin-bottom: 18px;
}
.reveal-modal2 .description-box .categories {
	font: 11px/24px opensans-regular, sans-serif;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
}
.reveal-modal2 .description-box .categories i {
	margin-right: 8px;
	color: #000000;
}
.reveal-modal2 .link-box {
	padding: 18px 36px;
	background: #111;
	text-align: left;
}
.reveal-modal2 .link-box a {
	color: #fff;
	font: 11px/24px opensans-regular, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}
.reveal-modal2 a:hover {
	color: #00CCCC;
}
.reveal-modal2 a.close-reveal-modal {
	margin-left: 28px;
}
/* ================================================================== */

/* f. Our Menu

/* ================================================================== */

#ourmenu {
	background: #fff url(../images/patterns/grey.png);
	padding-top: 100px;
	padding-bottom: 80px;
	color: #A3A3A3;
}
#ourmenu .section-head h2 {
	color: #9d6419;
}
#ourmenu h4, #about h5 {
	color: #743f0b;
}
#ourmenu .section-head p.desc {
	color: #000000;
}
#ourmenu .section-head .intro {
	color: #000000;
}
#ourmenu h3 {
	font: 24px/30px montserrat-regular, sans-serif;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #6E6E6E;
}
/* ================================================================== */

/* g. Projects

/* ================================================================== */

#projects {
	background: #1b1e21 url(../images/patterns/servicesbg.png);
	padding-top: 100px;
	padding-bottom: 80px;
	color: #4E565F;
}
#projects .section-head h2 {
	color: #9d6419;
}
#projects h4, #projects h5 {
	color: #743f0b;
	text-align: center
}
#projects .section-head p.desc {
	color: #fff;
}
#projects .section-head .intro {
	color: #fff;
}
#projects h3 {
	font: 24px/30px montserrat-regular, sans-serif;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #6E6E6E;
}
/* projects Content */
#projects-wrapper {
	margin-top: 36px;
}
#projects-wrapper .col {
	width: 25%;
	margin-bottom: 36px;
}
.projects-item .item-wrap {
	background: #fff;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
	box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.projects-item .item-wrap a {
	display: block;
}
.projects-item .projects-item-meta {
	padding: 12px 0;
}
.projects-item .projects-item-meta h5 a {
	font: 13px/24px montserrat-bold, sans-serif;
	color: #9d6419;
	margin-left: 7%;
}
/* on hover */
.projects-item:hover .item-wrap {
	background-color: #9d6419;
}
.projects-item:hover h5 a {
	color: #fff !important;
}
/* Reveal Modal Plugin Styles
---------------------------------------------------*/
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}
.reveal-modal {
	visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	max-width: 600px;
	background: #fff;
	position: absolute;
	z-index: 101;
	padding: 0;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.reveal-modal .description-box {
	padding: 18px 36px;
}
.reveal-modal .description-box h4 {
	font: 15px/24px montserrat-bold, sans-serif;
	margin-bottom: 18px;
	color: #111;
}
.reveal-modal .description-box p {
	font: 13px/24px opensans-regular, sans-serif;
	color: #A1A1A1;
	margin-bottom: 18px;
}
.reveal-modal .description-box .categories {
	font: 11px/24px opensans-regular, sans-serif;
	color: #A1A1A1;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
}
.reveal-modal .description-box .categories i {
	margin-right: 8px;
}
.reveal-modal .link-box {
	padding: 18px 36px;
	background: #111;
	text-align: left;
}
.reveal-modal .link-box a {
	color: #fff;
	font: 11px/24px opensans-regular, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}
.reveal-modal a:hover {
	color: #00CCCC;
}
.reveal-modal a.close-reveal-modal {
	margin-left: 28px;
}
/* ================================================================== */

/* h. Calendar

/* ================================================================== */

#calendar {
	background: #fff url(../images/patterns/grey.png);
	padding-top: 100px;
	padding-bottom: 80px;
	color: #A3A3A3;
}
#calendar .section-head h2 {
	color: #9d6419;
}
#calendar h4, #about h5 {
	color: #743f0b;
}
#calendar .section-head p.desc {
	color: #000000;
}
#calendar .section-head .intro {
	color: #000000;
}
#calendar h3 {
	font: 24px/30px montserrat-regular, sans-serif;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #6E6E6E;
}
/* ================================================================== */

/* i. Map/Contact

/* ================================================================== */

#map {
	display: block;
	height: 486px;
	width: 100%;
	background-color: #F6F4EF;
}
#map img {
	max-width: inherit !important;
}
#map .map-error {
	text-align: center;
	padding-top: 48px;
	color: #C0B491;
	font-size: 14px;
}
#contact {
	background-color: #25292D;
	padding-top: 108px;
	padding-bottom: 120px;
	color: #707B89;
}
#contact a, #contact a:visited {
	color: #C4C4C4;
}
#contact a:hover, #contact a:focus {
	color: #11ABB0;
}
#contact .section-head {
	margin-bottom: 42px;
}
#contact .section-head h2 {
	color: #9d6419;
}
#contact .section-head p.desc, #contact .intro {
	color: #9d6419;
}
#contact p {
	color: #fff;
}
/* contact form */
#contact form {
	margin-bottom: 30px;
}
#contact label {
	font: 15px/24px opensans-semibold, sans-serif;
	margin: 12px 0;
	color: #fff;
	display: inline-block;
	float: left;
	width: 22%;
}
#contact input, #contact textarea, #contact select {
	padding: 18px 20px;
	color: #eee;
	background: #3F464B;
	margin-bottom: 42px;
	border: 0;
	outline: none;
	font-size: 15px;
	line-height: 24px;
	width: 66%;
}
#contact input:focus, #contact textarea:focus, #contact select:focus {
	color: #fff;
	background-color: #9d6419;
}
#contact button.submit {
	font: 18px/30px montserrat-bold, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	background: #9d6419;
	padding: 18px 30px;
	border: none;
	cursor: pointer;
	height: auto;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;/*margin-left: 22%;*/
}
#contact button.submit:hover {
	color: #25292D;
	background: #fff;
}
#contact span.required {
	color: #fff;
	font-size: 13px;
}
#message-warning, #message-success {
	display: none;
	background: #151719;
	padding: 24px 24px;
	margin-bottom: 36px;
	width: 88%;
}
#message-warning {
	color: #D72828;
}
#message-success {
	color: #11ABB0;
}
#message-warning i, #message-success i {
	margin-right: 10px;
}
#image-loader {
	display: none;
	position: relative;
	left: 18px;
	top: 12px;
}
/* contact sidebar */
#contact aside h3 {
	font: 21px/30px montserrat-bold, sans-serif;
	margin-bottom: 18px;
	color: #9d6419;
}
/* ================================================================== */

/* Sponsor Icons

/* ================================================================== */


/* SOCIAL ICONS - GENERAL */ 
.sponsor {
	list-style: none;
	margin: 30px auto;
	position: relative;
	top: 25px;
	right: 0px;
}
.sponsor li {
	display: inline;
	float: left;
	background-repeat: no-repeat;
	padding: 5px;
}
.sponsor li a {
	display: block;
	width: auto;
	height: auto;
	padding-right: 10px;
	position: relative;
	text-decoration: none;
}
.sponsor li a strong {
	font-weight: normal;
	position: absolute;
	left: 20px;
	top: -1px;
	color: #fff;
	padding: 3px;
	z-index: 9999;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
li.trillium {
}
li.mississuaga {
}
li.peel {
}
li.trans {
}
li.rona {
}
li.w2w {
}
li.kobo {
}
li.mabe {
}
li.aya {
}
li.unitedway {
}
li.b2b {
}
li.qi {
}
li.bigc {
}
li.haa {
}
/* SOCIAL ICONS - CSS3 */
#css3:hover li {
	opacity: 0.2;
}
#css3 li {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-moz-transition-property: opacity;
	-moz-transition-duration: 500ms;
}
#css3 li a strong {
	opacity: 0;
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: 300ms;
	-moz-transition-property: opacity, top;
	-moz-transition-duration: 300ms;
}
#css3 li:hover {
	opacity: 1;
}
#css3 li:hover a strong {
	opacity: 1;
	top: -10px;
}
/* ================================================================== */

/* j. Doonate

/* ================================================================== */

#donate .section-head {
	margin-bottom: 42px;
}
#donate .section-head h2 {
	color: #9d6419;
}
li.donate {
}
/* ================================================================== */

/* k. footer

/* ================================================================== */

footer {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #303030;
	font-size: 14px;
}
footer a, footer a:visited {
	color: #0B686B;
}
footer a:hover, footer a:focus {
	color: #fff;
}
/* copyright */
footer .copyright {
	margin: 0;
	padding: 0;
}
footer .copyright li {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
.ie footer .copyright li {
	display: inline;
}
footer .copyright li:before {
	content: "|";
	padding-left: 10px;
	padding-right: 10px;
	color: #095153;
}
footer .copyright li:first-child:before {
	display: none;
}
/* social links */
footer .social-links {
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-top: -3px;
	float: right;
}
footer .social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 24px;
}
footer .social-links li:first-child {
	margin-left: 0;
}

/* ================================================================== */

/* k. Media Queries

/* ================================================================== */


/* small screens
--------------------------------------------------------------------- */
@media only screen and (max-width: 836px) {
/* adjust sections padding top */
#about, #art,  #ourmenu, #projects, #calendar {
	padding-top: 120px;
}
/* adjust font size */
.intro, .client-cite {
	font-size: 18px;
}
/* services section
   -------------------------------------------------------------------- */
#about .about-head .col {
	width: 100%;
}
#about .about-wrapper {
	margin-top: 12px;
}
#about .about-wrapper .col {
	width: 50%;
}
#about .about-wrapper .col {
	margin-bottom: 0;
}
/* projects section
   -------------------------------------------------------------------- */
#art #art-wrapper {
	margin-top: 12px;
}
#art #art-wrapper .col {
	width: 33.33333%;
}
/* about section
   -------------------------------------------------------------------- */
#about .process-wrap .col {
	width: 50%;
}
/* about section
   -------------------------------------------------------------------- */
#about .section-head .col {
	width: 100%;
}
/* contact section
   ----------------------------------------------------------------------- */
#contact label {
	width: 25%;
}
#contact button.submit {
	margin-left: 25%;
}
#contact input,  #contact textarea,  #contact select {
	width: 70%;
}
#message-warning, #message-success {
	width: 95%;
}
}

/* mobile wide
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
/* center align some text */
.section-head, .intro, #about h3,  .entry-header {
	text-align: center;
}
/* mobile navigation
   -------------------------------------------------------------------- */

header.mobile {
	height: 66px;
}
header.mobile .logo a {
	top: 22px;
}
.mobile #nav-wrap {
	position: absolute;
	top: 0;
	right: 20px;
	width: auto;
	margin: 0;
}
.mobile #nav-wrap > a {
	width: 48px;
	height: 48px;
	text-align: left;
	background-color: #11ABB0;
	position: relative;
	border: none;
	float: right;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
.mobile #nav-wrap > a:before,  .mobile #nav-wrap > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: '';
}
.mobile #nav-wrap > a:after {
	top: 60%;
}
/* toggle buttons */
.mobile #nav-wrap:not( :target ) > a:first-of-type,  .mobile #nav-wrap:target > a:last-of-type {
	display: block;
}
/* hide menu panel */
.mobile #nav-wrap ul#nav {
	height: auto;
	display: none;
	clear: both;
}
.mobile #nav-wrap ul#nav li {
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
}
.mobile #nav-wrap ul#nav > li.active a {
	color: #11ABB0 !important;
	background: none;
}
/* display menu panels */
.mobile #nav-wrap:target > ul#nav {
	display: block;
	padding: 12px 25px 24px 25px;
	background: #4c4e5a;
	margin: 0;
	clear: both;
}
.mobile #nav-wrap ul#nav li {
	border-bottom: 1px dotted #595B6A;
}
.mobile #nav-wrap ul#nav li a {
	margin: 0;
	padding: 0;
	font-size: 13px;
	margin: 10px 0;
	line-height: 14px;
	border: none;
}
/* intro section
   -------------------------------------------------------------------- */
.slider-text {
	margin-top: 120px;
	margin-bottom: 48px;
}
.slider-text h2 {
	font: 43px/54px montserrat-regular, sans-serif;
}
.slider-text p {
	font: 14px/30px opensans-regular, sans-serif;
	margin-top: 30px;
}
.slides {
	overflow: hidden;
	min-height: 300px;
}
/* projects section
   --------------------------------------------------------------------- */
.reveal-modal {
	margin-left: -42%;
	width: 84%;
}
/* journal section
   --------------------------------------------------------------------- */
#journal .entry-header .author-image {
	display: none;
}
#journal .entry-header .entry-title {
	padding-left: 20px;
	margin-bottom: 18px;
}
#journal .entry .post-content {
	padding-left: 20px;
	margin-top: 6px;
}
#journal .entry .post-meta time,  #journal .entry .post-meta .dauthor {
	display: inline;
}
#journal .entry .post-meta .dauthor:before {
	content: "/";
	padding-left: 5px;
	padding-right: 5px;
}
/* about section
   ----------------------------------------------------------------------- */
.testimonials {
	text-align: center;
}
.testimonials .client-author .name {
	position: static;
}
.testimonials .client-author span {
	display: inline;
}
.testimonials .client-author span:before {
	content: "/";
	padding-left: 5px;
	padding-right: 5px;
}
/* contact section
   ----------------------------------------------------------------------- */
#contact label {
	display: block;
	float: none;
	width: auto;
}
#contact input,  #contact textarea,  #contact select {
	width: 100%;
	margin-bottom: 30px;
}
#contact button.submit {
	margin-left: 0;
}
#message-warning,  #message-success {
	width: 100%;
}
/* footer
   ------------------------------------------------------------------------ */
footer .copyright li:before {
	content: none;
}
footer .copyright li {
	margin-right: 10px;
}
footer .copyright, footer .social-links {
	text-align: center;
	float: none;
}
footer .social-links {
	margin-top: 12px;
}
}
/* ================================================================== */

/* l. Donation Campaign + Thermometer

/* ================================================================== */

.donate_button, .donate_button:visited {
	font: 16px/30px montserrat-bold, sans-serif;
	background: #9d6419;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0;
	color: #fff;
	padding: 18px 18px;
	margin-bottom: 18px;
	border: none;
	cursor: pointer;
	height: auto;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.donate_button:hover {
	background: #3d4145;
	color: #fff;
}
.donate_button:active {
	background: #3d4145;
	color: #fff;
}
.donation_box {
	float: left;
	width: 250px;
	height: 300px;
	color: #c2c5c5;
}
.donation_box_text {
	color: #c2c5c5;
	font-weight: normal;
}
.donation_box_help_1 {
	color: #FFFFFF;
	text-align: center;
}
.donation_box_help_2 {
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
}
 * Base thermometer style, this is the slate */ #thermometer {
 width:70px;
 height:300px;
 position: relative;
 background: #ddd;
 border:1px solid #aaa;
 -webkit-border-radius: 12px;
 -moz-border-radius: 12px;
 -ms-border-radius: 12px;
 -o-border-radius: 12px;
 border-radius: 12px;
 -webkit-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
 -moz-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
 -ms-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
 -o-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
 box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
}
/* This represents the track of the thermometer, the linear background 
    with a background size set will generate a line every 5% of the track. */
#thermometer .track {
	height: 280px;
	top: 10px;
	width: 20px;
	border: 1px solid #aaa;
	position: relative;
	margin: 0 auto;
	background: rgb(255,255,255);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0,0,0)), color-stop(1%, rgb(255,255,255)));
	background: -webkit-linear-gradient(top, rgb(0,0,0) 0%, rgb(255,255,255) 10%);
	background: -o-linear-gradient(top, rgb(0,0,0) 0%, rgb(255,255,255) 10%);
	background: -ms-linear-gradient(top, rgb(0,0,0) 0%, rgb(255,255,255) 10%);
	background: -moz-linear-gradient(top, rgb(0,0,0) 0%, rgb(255,255,255) 10%);
	background: linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(255,255,255) 10%);
	background-position: 0 -1px;
	background-size: 100% 5%;
}
/* The progress indicator (the mercury, if you will) */
#thermometer .progress {
	height: 0%;
	width: 100%;
	background: rgb(164, 210, 211);
	background: rgba(164, 210, 211,0.6);
	position: absolute;
	bottom: 0;
	left: 0;
}
/* let's position the goal */
#thermometer .goal {
	position: absolute;
	top: 0;
}
/* just style the amounts a little bit */
#thermometer .amount {
	display: inline-block;
	padding: 0 5px 0 60px;
	border-top: 1px solid black;
	font-family: Trebuchet MS;
	font-weight: bold;
	color: #c2c5c5;
}
/* make sure the progress amount appears on the left side, 
    this way they progress and goal amounts won't overlap should we reach 100% (or greater) */
#thermometer .progress .amount {
	padding: 0 60px 0 5px;
	position: absolute;
	border-top: 1px solid #060;
	color: #c2c5c5;
	right: 0px;
}
/* m. Gallery

/* ================================================================== */


#gallery {
	background: #fff url(../images/patterns/grey.png);
	padding-top: 100px;
	padding-bottom: 80px;
	color: #A3A3A3;
}
#gallery .section-head h2 {
	color: #9d6419;
}
#gallery h4, #about h5 {
	color: #743f0b;
}
#gallery .section-head p.desc {
	color: #000000;
}
#gallery .section-head .intro {
	color: #000000;
}
#gallery h3 {
	font: 24px/30px montserrat-regular, sans-serif;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #6E6E6E;
}
