@import "variables.scss";

section#checkout {
  background-color: $primary-color-light;
  padding-bottom: 100px;

  .credit-cards {
    display: inline-flex;
    font-size: 3em;
    padding: 0;

    i {
      margin: 0 5px;
    }

  }
}
/* Non Credit Card Form - Token Area */
.token-area {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px dotted #CCC;
    display: block;
    padding: 20px;
    background: #EFEFEF;
}
