/*Arquivo para criação de estilos*/

@import "variables.scss";

/*Usado em adição ao bootstrap para centralizar*/
.col-centered {
  float: none !important;
  margin: 0 auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}

a:visited {
  color: #313447;
}

.content {
  margin-top: 5%;
}

.primary-bg-color {
  background-color: $primary-color;
}

.secondary-bg-color {
  background-color: $secondary-color;
}

.terciary-bg-color {
  background-color: $terciary-color;
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

.terciary-text {
  color: $terciary-color !important;
}

@media screen and (min-width: 768px) {
  .left-border {
    border-left: 3px solid;
  }
}

.btn-terciary {
  background-color: $terciary-color;
  color: white;
}

.jumbotron {
  .pricing-plan {
    .body {
      color: #313447; /* fix para pricing plans funcionar dentro do jumbotron */
    }
  }
}

#pricing {
  background-color: $primary-color;
}

.pricing-plan .header {
  background-color: $terciary-color;
}

.parallax {
    //background-attachment: fixed;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
}

.caminho-da-cegonha {
  width: 100%;
}

#faq {
  background-color: $secondary-color;
}

#features-header {
  background-color: $terciary-color;
  padding: 20px 0 20px 0;
}

::selection {
  background: $secondary-color; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $secondary-color; /* Gecko Browsers */
  color: #fff;
}

.img-small {
  max-height: 70px;
  max-width: 70px;
}

#pricing .page-header span {
  font-size: 1.3em;
  color: #fff;
}

.slide-background-image {
  position: absolute;
  min-width: 100%;
  height: 100% !important;
}

.hero-slider, .slide {
  height: 100%;
}

.bx-wrapper {
  background-color: $primary-color;
}

.bx-viewport {
  min-height: 400px;
}

// BX-SLIDER FULLSCREEN
*{
  margin: 0px;
  padding: 0px;
}
body, html{
  height: 100%;
}
.bx-viewport, .bx-wrapper{
  position:relative;
  width:100%;
  height:100% !important;
  top:0;
  left:0;
}
.bxslider, .bxslider li{
  height: 100% !important;;
}
.bxslider li{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.bx-wrapper .bx-viewport{
  border: none !important;
}
// END OF BX-SLIDER FULL SCRENN
