/*Arquivo para criação de estilos*/

@import "variables.scss";

/*Usado em adição ao bootstrap para centralizar*/
.col-centered {
  float: none !important;
  margin: 0 auto;
}

a:visited {
  color: #313447;
}

.content {
  margin-top: 5%;
}

.primary-bg-color {
  background-color: $primary-color;
}

.secondary-bg-color {
  background-color: $secondary-color;
}

.terciary-bg-color {
  background-color: $terciary-color;
}

@media screen and (min-width: 768px) {
  .left-border {
    border-left: 3px solid;
  }
}

.btn-terciary {
  background-color: $terciary-color;
  color: white;
}

.jumbotron {
  .pricing-plan {
    .body {
      color: #313447; /* fix para pricing plans funcionar dentro do jumbotron */
    }
  }
}

#pricing {
  background-color: $primary-color;
}

.pricing-plan .header {
  background-color: $terciary-color;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
