/*Arquivo para criação de estilos*/

@import "variables.scss";

/*Usado em adição ao bootstrap para centralizar*/
.col-centered {
  float: none !important;
  margin: 0 auto;
}

.content {
  margin-top: 5%;
}

.primary-bg-color {
  background-color: $primary-color;
}

.jumbotron-secondary {
  background-color: $secondary-color;
}

.jumbotron-terciary {
  background-color: $terciary-color;
}

.main-address {
  border-left: 3px solid;
}
