/*Arquivo para criação de estilos*/

@import "variables.scss";

html, body {
  height: 100%;
  font-size: 16px;
}

/*Usado em adição ao bootstrap para centralizar*/
.col-centered {
  float: none !important;
  margin: 0 auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}

a:visited {
  color: #fff;
}

.content {
  margin-top: 5%;
}

.primary-bg-color {
  background-color: $primary-color;
}

.secondary-bg-color {
  background-color: $secondary-color;
}

.terciary-bg-color {
  background-color: $terciary-color;
}

.primary-text {
  color: $primary-color !important;
}

.secondary-text {
  color: $secondary-color !important;
}

.terciary-text {
  color: $terciary-color !important;
}

@media screen and (min-width: 768px) {
  .left-border {
    border-left: 3px solid;
  }
}

.btn-terciary {
  background-color: $terciary-color;
  color: white;
}

.jumbotron {
  .pricing-plan {
    .body {
      color: #313447; /* fix para pricing plans funcionar dentro do jumbotron */
    }
  }
}

#pricing {
  background-color: $primary-color;
}

.pricing-plan .header {
  background-color: $terciary-color;
}

.caminho-da-cegonha {
  width: 100%;
}

#faq {
  background-color: $secondary-color;
}

#features-header {
  background-color: $terciary-color;
  padding: 20px 0 20px 0;
}

::selection {
  background: $secondary-color; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $secondary-color; /* Gecko Browsers */
  color: #fff;
}

.img-small {
  max-height: 70px;
  max-width: 70px;
}

#pricing .page-header span {
  font-size: 1.3em;
  color: #fff;
}

.login-logo {
  max-height: 100px;
  max-width:  100px;
  margin-left: auto;
  margin-right: auto;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: 'ProximaNovaAltLight';
  color: $primary-color;
  font-size: 1.2em;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'ProximaNovaAltLight';
  color: $primary-color;
  opacity:  1;
  font-size: 1.2em;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'ProximaNovaAltLight';
  color: $primary-color;
  opacity: 1;
  font-size: 1.2em;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'ProximaNovaAltLight';
  color: $primary-color;
  font-size: 1.2em;
}

// Listagem de planos com nuvens
.cloud-image {
  //position: absolute;
  width: 100%;
  top: 50%;
  fill: white;
}

.pricing-plan .body {
  padding: 0;
  position: relative;
  z-index: 1;
  top: -20px;
}

.pricing-plan .body ul {
  margin: 0;
}

.pricing-plan .body ul li {
  padding: 0;
}

// fim da listagem de planos com nuvens

.background-image {
  position: absolute;
  z-index: -999;
  height: 100%;
  max-width: 2000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  // Colocar overflow: hidden no elemento  pai
  // Colocar position: relative no elemento  pai
}

// Footer
.transition-footer {
  position: relative;
  width: 100%;
  margin-top: -100px;
  overflow: hidden;
  
  img {
    min-width: 100%;
    max-width: 2000px;
  }
}

footer {
  margin-top: -100px;
}
// Fim do Footer
