/*Arquivo para override do template*/

.form-control {
  background-color: rgba(0, 0, 0, 0.1);
}

.jumbotron {
  background-color: #5ebfe7;
}

.btn-primary {
  color: #313447;
  background-color: #F0E881;
}

.btn-primary:hover {
  color: #313447;
  background-color: #FFF9B0;
}

.stiky-header .logo img {
  max-height: 100px;
}
