// Colours
$primary-color: #429CD0;
$primary-color-light: #8fC1DA;
$secondary-color: #F0E881;
$terciary-color: #99699B;
// Screen sizes
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
