// Colours
$primary-color: #429CD0;
$primary-color-light: #8fC1DA;
$secondary-color: #fcf6e8;
$terciary-color: #99699B;
$button-color: #EEE983;
// Screen sizes
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
