@import "variables.scss";

section#register-account {
  background-color: $primary-color-light;
  padding-bottom: 100px;
}

section#after-registration {
  background-color: $primary-color-light;
  padding-bottom: 100px;
}
