<p>Olá <%= @resource.email %>!</p>
<p>Alguém solicitou para trocar a senha de sua cegonha! Você pode fazer isso através do link abaixo.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
</p><p>Sua senha não irá mudar até que o link seja acessado e uma nova criada.</p>
<p>Caso este email não seja para você, por favor, ignorar este email.</p>
